<div id="templatemo_container">
    <app-topnav></app-topnav>
    <div id="templatemo_header">
        <div id="templatemo_special_offers" style="color: white;">
            <ul >
                <li>Admin Email:</li>
                <li>Admin Password: </li>
                <li>User Email: </li>
                <li>User Password: </li>
            </ul>
        </div>
        <div id="templatemo_new_books" style="color: white; color: white;margin-left: 25px;">
            <ul>
                <li>admin@euromonitor.com</li>
                <li>123456</li>
                <li>joelkapuku@gmail.com</li>
                <li>123456</li>
            </ul>
        </div>
    </div> <!-- end of header -->
    <app-sidenav></app-sidenav>
</div>