
<h4 class="display-1" style="color: white;">Admin Portal</h4>
<p class="lead" style="color: white;">Admin control is not implemented due to time frame and also for the purpose of
    this project, i believe it wasn't neccessary.</p>
<p class="lead" style="color: white;">The controls in which the admin component was going to entail:</p>
<p class="lead" style="color: white;">Please note that the functionalities below has been implemented on the api, just
    not the front end</p>
<ul class="list-group">
    <li class="list-group-item">Create/Add/Update/Delete Books</li>
    <li class="list-group-item">Create/Add/Update/Delete Categories</li>
    <li class="list-group-item">Create/Add/Update/Delete User Type</li>
    <li class="list-group-item">Create/Add/Update/Delete User(especially external User)</li>
    <li class="list-group-item">Create/Add/Update Associated book to catalogue</li>
</ul>